/* Tags */

body {
  margin: 30px;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2, h3 {
  margin-bottom: 0px;
}

h1 {
  font-size: 40px;
  background-color: gainsboro;
  padding: 8px;
  margin: 30px -30px;
  margin-top: -20px;
  padding-left: 20px;
}

h2 {
  margin-top: 40px;
  font-size: 25px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: lighter;
}

p {
  text-align: justify;
}

ul, ol {
  border-top: solid gainsboro 5px;
  border-radius: 3px;
  background-color: #ededed;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-right: 20px;
}

li {
  padding-left: 10px;
  margin-bottom: 10px;
}

/* Classes */

.navigation a{
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
}

.recipe-image {
  width: 700px;
  height: auto;
  border-radius: 3px;
}

.steps li {
  min-height: 30px;
}
